footer {
    background-color: black;
    color: whitesmoke;
    font-size: 8px;
    line-height: 12px;
}

.footer__navigation-links .links {
    color: whitesmoke;
    text-decoration: underline;
}

.footer__navigation-links .links:hover {
    color: grey;
    cursor: pointer;
}

.footer__navigation-links > div {
    height: 100%;
}

.footer__line {
    display: none;
}

.footer__social-links li {
    margin: 0 3px;
}

.terminos-condiciones {
    min-height: 24px;
    width: 140px;
}

.terminos-condiciones:hover {
    color: whitesmoke;
    text-decoration: none;
    background-color: #803EFF;
}

.social-svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.social-svg-mask {
    fill: gray;
}

.social-svg:hover > .social-svg-mask {
    fill: #803EFF;
}

.footer__derechos-reservados {
    font-size: 6px;
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 10px;
    }

    .footer__navigation-links li{
        margin-top: 0.5rem;
    }

    .footer__line {
        display: block;
        position: relative;
        border-right: 2px solid whitesmoke;
        height: 70%;
        top: 1.5rem;
    }

    .terminos-condiciones {
        height: 30px;
        width: 150px;
        line-height: 28px;
    }

    .social-svg {
        width: 25px;
        height: 25px;
    }

    .footer__derechos-reservados {
        font-size: 8px;
    }
}

@media screen and (min-width: 1800px) {
    footer {
        font-size: 15px;
    }

    .footer__navigation-links > div {
        padding-top: 3rem;
    }

    .footer__navigation-links li {
        margin-top: 1rem;
    }

    .social-svg {
        width: 35px;
        height: 35px;
    }

    .terminos-condiciones {
        height: 40px;
        width: 220px;
        line-height: 38px;
    }

    .footer__derechos-reservados {
        font-size: 12px;
    }
}