@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: "Gotham";
    src: url('../fonts/GothamBold.ttf');
    font-weight: bold;
}

* {
    font-family: "Gotham";
}

body {
    min-width: 350px;
    margin: 0 auto;
    font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bold {
    font-weight: bold;
}

.d-block {
    display: block;
}

main {
    background-color: #6800FF;
}

.coma-logo {
    display: block;
    position: absolute;
    background-image: url('../svg/Coma.svg');
    background-repeat: no-repeat;
    box-shadow: inset 80px 20px 100px #6800FF;
}

/* #region Registro y Patrocinadores */

.registro {
    background-image: url('../svg/Coma.svg'), url('../svg/Corchete.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 150px, 200px 900px;
    background-position: top left, top right;
    box-shadow: inset 50px 10px 80px #6800FF;
    color: whitesmoke;
}

.registro .coma-logo {
    display: none;
}

.registro .logos {
    position: relative;
    top: -25px;
}

.registro .año {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 180px;
    height: 180px;
}

.registro h1 {
    font-size: x-large;
}

.registro p {
    text-align: justify;
    margin-right: 30%;
}

.registro__texto a {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: #6800FF;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2.registro__texto {
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px whitesmoke;
    color: #6800FF;
}

.carousel {
    background-color: whitesmoke;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon:after
{
    background-image: none;
    content: '>';
    font-size: 55px;
    font-weight: bold;
    color: #6800FF;
}

.carousel-control-prev-icon:after {
    background-image: none;
    content: '<';
    font-size: 55px;
    font-weight: bold;
    color: #6800FF;
}

/* #endregion Registro y Patrocinadores */

.retos__banner {
    height: 120px;
    position: relative;
    background-image: url('../svg/PuntoYComa.svg');
    background-repeat: no-repeat;
    background-size: 150px 200px;
    background-position: -40px -40px;
    color: #EE5BA0;
}

.retos__banner-logos {
    position: relative;
}

.retos__banner-logos h2 {
    font-size: 40px;
    position: absolute;
    left: 65px;
    top: 5px;
}

.retos__banner-logos > div {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 55px;
}

.retos .coma-logo {
    height: 120px;
    width: 80px;
    top: 0;
    right: -2px;
    box-shadow: inset 30px 20px 50px #6800FF;
}

.retos__contenido {
    background-color: whitesmoke;
    color: black;
}

.retos__contenido h3 {
    color: #005AA9;
}

@media screen and (min-width: 450px) {
    .registro .año {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 576px) {
    /* #region Registro y Patrocinadores */
    
    h2.registro__texto {
        font-size: 75px;
    }

    .registro {
        background-size: 150px, 300px 1000px;
    }

    .on-top {
        position: relative;
        z-index: 100;
    }

    .registro .coma-logo {
        display: block;
        position: absolute;
        width: 35%;
        height: 500px;
        left: 25%;
        background-image: url('../svg/Coma.svg');
        background-repeat: no-repeat;
        box-shadow: inset 80px 20px 100px #6800FF;
    }

    .carousel-inner {
        display: flex;
        margin: 0 auto;
        justify-content: start;
        width: 50%;
    }

    /* #endregion Registro y Patrocinadores */
}

@media screen and (min-width: 768px) {
    body {
        max-width: 1280px;
    }
    
    /* #region Registro y Patrocinadores */
    .coma-logo {
        width: 30%;
    }
    
    .registro .logos {
        top: 30px;
    }
    
    .registro .año {
        top: 10%;
        width: 450px;
        height: 450px;
    }
    
    .registro p {
        margin-right: 30%;
    }
    
    .hacktech-logo {
        height: 350px;
    }
    
    h2.registro__texto {
        font-size: 85px;
    }

    .registro__texto a:hover {
        background-color: #803EFF;
    }

    /* #endregion Registro y Patrocinadores */
}

@media screen and (min-width: 1024px) {
    /* #region Registro y Patrocinadores */
    .registro__texto {
        margin-left: 5%;
    }

    h2.registro__texto {
        font-size: 95px;
    }
    /* #endregion Registro y Patrocinadores */
}

@media screen and (min-width: 1500px) {
    body {
        max-width: 2000px;
        font-size: 20px;
    }
    
    /* #region Registro y Patrocinadores */

    h2.registro__texto {
        font-size: 150px;
    }
    /* #endregion Registro y Patrocinadores */
}